.forecastBox {
  border: 1px solid #dedede;
  border-radius: 16px;
  box-shadow: 8px 12px 12px -1px #dedede;
  padding: 25px;
  margin-top: 30px;
}

.forecastBox ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.forecastDay {
  flex-direction: column;
  align-content: space-between;
}
