.box {
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 8px 12px 12px -1px #dedede;
  padding: 25px;
}

.leftPanel {
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.leftPanel h2 {
  font-size: 30px;
  text-align: center;
}
.leftPanel h6 {
  font-size: 15px;
}
.leftPanel .units {
  font-size: 18px;
  font-weight: 300;
}

.leftPanel .temperature {
  font-size: 90px;
  font-weight: 500;
}

.rightPanel {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightPanel .description p {
  font-size: 20px;
}

.units {
  position: relative;
  top: -45px;
  margin-left: 5px;
}

.icon {
  justify-content: center;
}

.Weather ul {
  padding-top: 20px;
  list-style-type: none;
  text-align: center;
  line-height: 3;
  font-size: 20px;
}

.additionalWeatherInfo {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contactLink a {
  color: #424b5a;
}
